doctype html
include includes/head.jade
  body
    #containerElement.container
      include includes/header.jade
      main
        .row
          include includes/pageOne.jade
          include includes/pageTwo.jade
          include includes/pageThree.jade
          include includes/pageFour.jade
      include includes/footer.jade
    include includes/scripts.jade
