!!!5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %title Mitchum - Home
    %link{:rel => "stylesheet", :media => "all", :href => "css/bootstrap.min.css"}
  %body
    %div.container
      %header
        %h1 Mitchum
      %nav
        %ul
          %li Link 1
          %li Link 2
          %li Link 3
          %li Link 5
      %main
        %article
          %h2 Page One
        %article
          %h2 Page Two
        %article
          %h2 Page Three
        %article
          %h2 Page Four
      %footer
      %script{:src => "js/libs/jquery.min.js"}
      %script{:src => "js/libs/scrollNav.min.js"}
      %script{:src => "js/libs/masonry.min.js"}
      %script{:src => "js/main.js"}
      <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
